---
interface Props {
content: string;
author: string;

}

const {content,author} = Astro.props;
---
<style>
 

footer {
  color: #18181B;
  font-size: 20px;
}
article
{
    padding: 20px;
	border-radius: 0.75rem;
	background-color: rgb(250 250 250);
}

p{
    color: #71717A;
    font-weight:300;
    font-size: 20px;
}
</style>
<article>
  <p>{content}</p>
  <footer>{author}</footer>
</article>