
<div class="Hdr">
  <button>The Schedule</button>
  <button>Testimonals</button>
  <button>FAQ</button>
</div>
<div class="Cont">
  <img src="https://bootcamp.dev/logos/bootcamp.svg" width="54%">
  <p style="font-size:35px;">LEARN HOW TO BUILD THIS WEB APP:<p>
  <img src="https://bootcamp.dev/screenshot-light.jpg" width="90%">
</div>

