<div class="Cont2">
            <p style="font-size:30px;">How the app looks like, dark and light mode<p>
			<img src="https://bootcamp.dev/screen-1.jpg" width="90%">
			<img src="https://bootcamp.dev/screen-2.jpg" width="90%">
			<img src="https://bootcamp.dev/screen-3.jpg" width="90%">
			<p style="font-size:30px;">Did I say the app we'll build looks great as a PWA on a phone/tablet?<p>
			<img src="https://bootcamp.dev/ipad.jpg" width="45%">
			<img src="https://bootcamp.dev/iphone.jpg" width="45%">
			<h2>Hear what students say</h2>
</div>

<div class="div4">
   <div class="div4_d">
      <p> “The web development bootcamp was a game changer for me. It teached me how to develop modern web applications using the best practices, I recommend it 100%!!!” Victor Campos <p>
   </div>
   <div class="div4_d">
      <p> “I can’t recommend enough this course for self learner developer. It gives me the bird eye view of current technology and lots of portfolio projects. But my most valuable takeaway from this course is the newbie learning community that learns together with you. For me, this course boost my confidence to apply for dev jobs, and alhamdulillah, 1 month later I got a full time job as developer.”

Ivan Zulfikar<p>
   </div>
   <div class="div4_d">
      <p> “This course was a game changer for me. the more regimented coursework made me realize I had to grind harder if I wanted to make it. It's also teaches you a wide range of skills, vs udemy courses where you'll learn 5 skill sets maybe at most. Here you'll learn 20+ (probably more). I already feel like I've learned 20x what I could have found on my own. Thanks Flavio!”

Brad Alexander<p>
   </div>
</div>


            